<div class="row page-title"><i class='bi-percent'></i>Retenciones</div>
<div class="component-content">
  <div class=" my-2">

    <button (click)="nuevo()" type="button" class="btn btn-primary">
      Nueva Retención <i class="bi-plus"></i>
    </button>
  </div>

</div>


<div class="table-responsive p-1">
  <table #tabla datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-custom">
    <thead>
      <tr>
        <th class="text-center w-gear"><i class="bi-files"></i></th>
        <th class="text-center">FECHA EMISIÓN</th>
        <th>DOCUMENTO</th>
        <th>CLIENTE</th>
        <th>CLAVE ACCESO</th>
        <th class="text-center">ESTADO</th>
        <th>FECHA AUTORIZACIÓN</th>
        <th class="text-end">TELÉFONO</th>
        <th>EMAIL</th>

      </tr>
    </thead>
    @if(lista.length>0){

    <tbody>
      @for(item of lista;track item.idRetencion){
      <tr>
        <td class="text-center">




          @if(item.estadoSri=='AUTORIZADO'){
          <button (click)="xml(item.claveAcceso)" title="Descargar XML" type="button"
            class="btn text-primary btn-sm btn-file-td" style="padding:2px 0 2px 6px"><i class="bi-filetype-xml"
              style="font-size:12px"></i></button>
          <button (click)="pdf(item.claveAcceso)" title="Descargar PDF" type="button"
            class="btn text-danger btn-sm btn-file-td" style="padding:2px 0 2px 6px"><i class="bi-filetype-pdf"
              style="font-size:12px"></i></button>

          }
          @else if(item.estadoSri=="EN PROCESAMIENTO"){
          <span class="fs-xs">EN PROCESAMIENTO</span>
          }
          @else if(item.estadoSri=="NO AUTORIZADO"){
          <button (click)="xml(item.claveAcceso)" title="Descargar XML" type="button"
            class="btn text-primary btn-sm btn-file-td" style="padding:2px 0 2px 6px"><i class="bi-filetype-xml"
              style="font-size:12px"></i></button>
          <button (click)="pdf(item.claveAcceso)" title="Descargar PDF" type="button"
            class="btn text-danger btn-sm btn-file-td" style="padding:2px 0 2px 6px"><i class="bi-filetype-pdf"
              style="font-size:12px"></i></button>
          }@else if(item.estadoSri=="RECIBIDA"){
          <span class="fs-xs">ESPERANDO AUTORIZACIÓN</span>
          }
          @else{
          <button (click)="reenviar(item.claveAcceso)" title="Reenviar a SRI" type="button"
            class="btn text-info btn-sm btn-file-td" style="padding:2px 0 2px 6px"><i class="bi-arrow-clockwise"
              style="font-size:12px"></i></button>
          }
        </td>
        <td width="5%" class="text-center">{{item.fechaEmisionRetencion.substring(0,10).split('-').reverse().join('-')}}
        </td>
        <td>
          {{item.documento}}
        </td>
        <td width="25%">{{item.razonSocialComprador}}</td>
        <td width="30%">{{item.claveAcceso}}</td>
        <td width="5%"><span class="badge fw-500" [style]="getColor(item.idTipoEstadoSri)">{{item.estadoSri}}</span>
        </td>
        <td width="10%" class="text-center">
          @if(item.estadoSri=='AUTORIZADO'){
          <!-- fecha autorizacion receptor -->
          {{item.fechaAutorizacion.substring(0,10).split('-').reverse().join('-')}}
          <b>{{ item.fechaAutorizacion.substring(11,16)}}{{(item.fechaAutorizacion.substring(11,13))>=12?"PM":"AM"}}</b>
          }@else {
          <span class="fs-xs">ESPERANDO AUTORIZACIÓN</span>
          }
        </td>
        <td class="text-end">{{item.telefono}}</td>
        <td width="10%" class="text-email">{{item.email}}</td>
      </tr>
      }
    </tbody>
    }@else {
    <tbody>
      <tr>
        <td colspan="10" class="no-data-available text-center" [innerHTML]="mensajeDataTable"></td>
      </tr>
    </tbody>
    }
  </table>
</div>