<div class="row page-title"><i class='bi-gear'></i>Configuraciones SRI</div>
<div class="component-content">
  <div class="card border-none shadow-none">
    <div class="card-body">
      <form class="row" id="frmDatos" (submit)="$event.preventDefault()">
        <div class="row">
          <div class="col-auto alert alert-secondary shadow-sm fs-6 p-2 mb-0 ms-2">
            <label class="me-1 fw-500">RUC:</label>{{datos.identificacion}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <label class="form-label">Razón Social</label>
            <input class="form-control form-control-sm" id="razonSocial" name="razonSocial" [maxLength]="200" />
            <div class="invalid-feedback">
              * Campo requerido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            <label class="form-label">Teléfono</label>
            <input class="form-control form-control-sm text-end" id="telefono" name="telefono" data-validate="numeros"
              [maxLength]="14" />
            <div class="invalid-feedback">
              * Campo requerido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <label class="form-label">Dirección Matriz</label>
            <textarea class="form-control form-control-sm" id="direccionMatriz" name="direccionMatriz"
              [maxLength]="200"></textarea>
            <div class="invalid-feedback">
              * Campo requerido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <label class="form-label">Firma</label>
            <span class="text-danger fs-xs2 fw-bold ms-1"><i class="bi-person-vcard me-1"></i>ARCHIVO P12</span>
            @if(urlFirma!=""){
              <a class="ms-1" (click)="descargarFirma()"><span
                  class=" badge bg-success fs-xs2 text-white text-uppercase cursor-pointer mb-1">Archivo Actual</span>
              </a>
              }
            <input type="file" accept=".p12" class="form-control form-control-sm" id="archivoFirma" name="archivoFirma"
              data-validate="no-validate" (change)="handleFirma()" />
            <div class="invalid-feedback">
              * Campo requerido
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <label class="form-label">Logo</label>
            <span class="text-danger fs-xs2 fw-bold ms-1"><i class="bi-card-image me-1"></i>IMAGEN PNG</span>
            @if(urlLogo!=""){
            <a class="ms-1" href="{{urlLogo}}" target="_blank"><span
                class=" badge bg-success text-white fs-xs2 text-uppercase mb-1">Archivo Actual</span></a>
            <span class="fs-xs2 ms-1 text-uppercase">{{datos.validezFirma}}</span>
            }
            <input type="file" accept=".png" class="form-control form-control-sm" id="archivoLogo" name="archivoLogo"
              data-validate="no-validate" (change)="handleLogo()" />
            <div class="invalid-feedback">
              * Campo requerido
            </div>
          </div>
        </div>
        <div class="mt-3">
          <a class="btn btn-secondary btn-sm me-1" [routerLink]="['/Inicio']">Cancelar</a>
          <button type="button" class="btn btn-primary btn-sm" (click)="guardar()">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalDatos">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-primary">
      <div class="modal-header py-2">
        <label class="modal-title text-white" id="modalDatosLabel">Validar firma digital</label>
        <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close"
          (click)="modal.hide()">
        </button>
      </div>
      <div class="modal-body bg-white">
        <form id="frmFirma" (submit)="$event.preventDefault();validarFirma()">
          <div class="col-sm-6 mx-auto">
            <label class="form-label">Ingrese la contraseña de la firma digital</label>
            <input type="password" class="form-control form-control-sm" id="codigo" name="codigo" [maxLength]="50" />
            <div class="invalid-feedback">
              * Campo requerido
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer-center bg-light py-2">
        <button type="button" class="btn btn-secondary btn-sm mx-1" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm mx-1" (click)="validarFirma()">Validar</button>
      </div>
    </div>
  </div>
</div>
