<div class="row page-title"><i class='bi-boxes'></i>Productos</div>
<div class="component-content">
  <div class=" my-2">
    <button (click)="modal.show();nuevo()" type="button" class="btn btn-primary">
      Nuevo Registro <i class="bi-plus"></i>
    </button>
  </div>
  <div class="table-responsive p-1">
    <table #tabla datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-custom">
      <thead>
        <tr>
          <th class="text-center w-gear"><i class="bi-gear"></i></th>
          <th class="d-none">Fecha Registro</th>
          <th class="text-center"><i class="bi-check2 me-1"></i>Activo</th>
          <th class="text-center"><i class="bi-eye me-1"></i>Visible</th>
          <th>Código</th>
          <th>Producto</th>
          <th class="text-end">Sin Iva</th>
          <th class="text-end">Iva</th>
          <th class="text-end">Con Iva</th>
        </tr>
      </thead>
      <tbody *ngIf="lista?.length>0" class="">
        <tr *ngFor="let item of lista">
          <td class="text-center">
            <button (click)="editar(item.idProducto)" type="button" class="btn btn-primary text-white btn-sm"
              style="padding:2px 0 2px 6px"><i class="bi-pencil-square" style="font-size:12px"></i></button>
            <button (click)="eliminar(item.idProducto)" type="button" class="btn btn-danger text-white btn-sm"
              style="padding:2px 0 2px 6px"><i class="bi-trash" style="font-size:12px"></i></button>
          </td>
          <td class="d-none">{{item.fechaRegistro}}</td>
          <td>
            <label class="toggle-control">
              <input type="checkbox" class="success" [checked]="item.activoProducto"
                (change)="activar(item.idProducto,$event.target)" />
              <span class="control"></span>
            </label>
          </td>
          <td>
            <label class="toggle-control">
              <input type="checkbox" [checked]="item.activo" (change)="visualizar(item.idProducto,$event.target)" />
              <span class="control"></span>
            </label>
          </td>
          <td width="10%">{{item.codigo}}</td>
          <td width="50%">{{item.nombre}}</td>
          <td class="text-end"><b>$</b>{{item.precio?.toFixed(2)}}</td>
          <td class="text-end">{{item.iva}}</td>
          <td class="text-end"><b>$</b>{{item.totalIva?.toFixed(2)}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="lista?.length==0">
        <tr>
          <td colspan="9" class="no-data-available text-center" [innerHTML]="mensajeDataTable"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="modal fade glass" #modalDatos tabindex="-1" role="dialog" aria-labelledby="modalDatosLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content bg-primary">
      <div class="modal-header py-2">
        <label class="modal-title text-white" id="modalDatosLabel">{{tituloModal}}</label>
        <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close"
          (click)="modal.hide()">
        </button>
      </div>
      <div class="modal-body bg-white">
        <form #frmDatos class="row">
          <div class="col-sm-6">
            <label class="form-label">Código de producto <small class="fw-bold fs-xs">ÚNICO</small></label>
            <input type="text" class="form-control form-control-sm" id="codigo" name="codigo" maxlength="500" />
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>

          <div class="col-sm-12">
            <label class="form-label">Nombre de producto</label>
            <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" maxlength="500" />
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>
          <div class="col-sm-12">
            <label class="form-label">Descripción</label>
            <textarea type="text" class="form-control form-control-sm" id="descripcion" name="descripcion" data-validate="no-validate"
              maxLength="500"></textarea>
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Stock</label>
            <input type="text" class="form-control form-control-sm text-end" id="cantidad" name="cantidad"
              data-validate="numeros" />
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Precio <small class="fw-bold fs-xs">SIN IVA</small></label>
            <input type="text" class="form-control form-control-sm text-end" id="precio" name="precio"
              data-validate="decimal" (focusout)="handleIva()" />
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>
          <div class="col-sm-3">
            <label class="form-label">IVA</label>
            <select class="form-select form-select-sm" id="idIva" name="idIva" (change)="handleIva()">
              <option *ngFor="let item of listaIvas" value="{{item.idIva}}">
                {{item.nombre}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Precio <small class="fw-bold fs-xs">CON IVA</small></label>
            <input #totalIva type="text" class="form-control form-control-sm text-end" id="totalIva" name="totalIva"
              data-validate="decimal" readonly />
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>
        </form>
        <div class="mt-4">
          <span class="title-line">Precios de venta</span>
        </div>
        <form #frmDetalle class="row mb-4">
          <div class="col-sm-2 ms-auto">
            <label class="form-label">Porcentaje</label>
            <input type="text" class="form-control form-control-sm text-end" id="porcentaje" name="porcentaje"
              (focusout)="handleIvaGanancia()" data-validate="decimal" />
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>
          <div class="col-sm-2">
            <label class="form-label">IVA</label>
            <select class="form-select form-select-sm" id="idIvaD" name="idIvaD" (change)="handleIvaGanancia()">
              <option *ngFor="let item of listaIvas" value="{{item.idIva}}">
                {{item.nombre}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label class="form-label">Ganancia</label>
            <input type="text" class="form-control form-control-sm text-end" id="total" name="total"
              data-validate="decimal" readonly />
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>
          <div class="col-sm-2">
            <label class="form-label">PVP</label>
            <input type="text" class="form-control form-control-sm text-end" id="totalIvaD" name="totalIvaD"
              data-validate="decimal" readonly />
            <div class="invalid-feedback">
              *Campo Requerido
            </div>
          </div>
          <div class="col-sm-2 me-auto">
            <button type="button" class="btn btn-success btn-sm btn-sm-agregar" (click)="agregarPrecio()">Añadir<i
                class="bi-plus"></i></button>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 mx-auto">
            <div class="table-responsive">
              <table class="table-custom">
                <thead class="bg-primary text-white">
                  <tr class="text-end">
                    <th class="text-center"><i class="bi-gear"></i></th>
                    <th>IVA</th>
                    <th>Porcentaje</th>
                    <th>Ganancia</th>
                    <th>PVP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="detallePrecios.length==0">
                    <td class="text-center text-muted" colspan="5">Ningún precio de venta añadido</td>
                  </tr>
                  <tr class="text-end" *ngFor="let item of detallePrecios">
                    <td class="text-center">
                      <button (click)="eliminarPrecio(item)" type="button" class="btn btn-danger text-white btn-sm"
                        style="padding:2px 0 2px 6px"><i class="bi-trash" style="font-size:12px"></i></button>
                    </td>
                    <td>{{getIva(item.idIva).nombre}}</td>
                    <td>{{item.porcentaje.replaceAll(".",",")}}%</td>
                    <td><b>$</b>{{item.total.toFixed(2).replaceAll(".",",")}}</td>
                    <td><b>$</b>{{(item.totalIva+item.total).toFixed(2).replaceAll(".",",")}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-light py-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="guardar()">Guardar</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="modal.hide()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
