<div class="wrapper shadow-none show" [class]="mostrarMenu?'toggled':''">
  <!--sidebar wrapper -->
  <div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
      <div class="w-100 text-center pt-2">
        <a [routerLink]="['/Inicio']">
          <!-- <img src="./assets/img/logo.png" width="91px" alt="logo"> -->
          <h5 style="color:#233D54;font-family: 'Special Elite', system-ui;">Jean Pelileo</h5>
        </a>

      </div>
      <div class="toggle-icon ms-auto mobile-toggle-menu" (click)="mostrarMenu=!mostrarMenu">
        <i class='bi-list'></i>
      </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
      <li class="home">
        <a [routerLink]="['facturas']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-receipt-cutoff'></i>
          </div>
          <div class="menu-title">Facturación</div>
        </a>
      </li>
      <!-- <li class="home">
        <a [routerLink]="['retenciones']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-percent'></i>
          </div>
          <div class="menu-title">Retenciones</div>
        </a>
      </li> -->
      <li class="home">
        <a [routerLink]="['proformas']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-calculator'></i>
          </div>
          <div class="menu-title">Proformas</div>
        </a>
      </li>
      <li class="home">
        <a [routerLink]="['caja']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-cash-coin'></i>
          </div>
          <div class="menu-title">Caja</div>
        </a>
      </li>
      <li class="home">
        <a [routerLink]="['clientes']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-person-vcard'></i>
          </div>
          <div class="menu-title">Clientes</div>
        </a>
      </li>
      <li class="home">
        <a [routerLink]="['empleados']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-people'></i>
          </div>
          <div class="menu-title">Empleados</div>
        </a>
      </li>
      <li class="home">
        <a [routerLink]="['proveedores']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-briefcase'></i>
          </div>
          <div class="menu-title">Proveedores</div>
        </a>
      </li>
      <li class="home">
        <a [routerLink]="['facturas-proveedores']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-file-earmark-spreadsheet'></i>
          </div>
          <div class="menu-title">Facturas Proveedores</div>
        </a>
      </li>
      <li class="home">
        <a [routerLink]="['productos']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-boxes'></i>
          </div>
          <div class="menu-title">Productos</div>
        </a>
      </li>
      <li class="home">
        <a [routerLink]="['lotes']" [routerLinkActive]="['active']">
          <div class="parent-icon">
            <i class='bi-cart-plus'></i>
          </div>
          <div class="menu-title">Lotes</div>
        </a>
      </li>
    </ul>
    <!--end navigation-->
  </div>
  <!--end sidebar wrapper -->
  <!--start header -->
  <header>
    <div class="topbar d-flex align-items-center">
      <nav class="navbar navbar-expand">
        <div class="mobile-toggle-menu" (click)="mostrarMenu=!mostrarMenu">
          <i class='bi-list'></i>
        </div>
        <div class="w-100"></div>
        <div class="user-box dropdown">
          <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./assets/img/user-admin.png" class="user-img" alt="user avatar">
            <div class="user-info ps-3">
              <p class="user-name mb-0"></p>
              <p class="designattion mb-0">{{usuario}}</p>
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <!-- <li>
              <a class="dropdown-item" [routerLink]="['configuraciones-sri']"><i
                  class="bi-gear"></i><span>Configuraciones SRI</span></a>
            </li> -->
            <li>
              <a class="dropdown-item logout" href="javascript:;" (click)="logout()"><i
                  class='bi-power'></i><span>Salir</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!--end header -->
  <!--start page wrapper -->
  <div class="page-wrapper show">
    <div class="page-content">
      <div class="card mb-0">
        <div class="card-body card-body-full container-fluid mb-5 px-xl-5 px-lg-5">
          <router-outlet></router-outlet>
          <div class="bienvenida-sistema" *ngIf="inicio">
            <img src="../../../../assets/img/sistem-logo.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end page wrapper -->
  <!--start overlay-->
  <div class="overlay toggle-icon"></div>
  <!--end overlay-->
  <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bi-arrow-up-short'></i></a>
  <!--End Back To Top Button-->
  <footer class="page-footer show">
    <p class="mb-0"><b class="text-primary"></b>©2023 Jeans Pelileo {{version}}</p>
  </footer>
</div>