<div class="row ">

    <div class="col-sm-12  secuencial" style="text-align: end;">

        <strong
            style="font-size: 1.5rem ;font-weight: bolder;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            Factura: </strong><label style="color: red;font-weight:bolder;font-size: 1.4rem">001-001-000000001</label>

    </div>



</div>




<div class="row">









    <div class="col-md-6">

        <div class="row">


            <div class="col-md-12">

                <label style="font-weight: bolder; font-size: large;">Emisor</label>
                <hr>

            </div>



            <div class="col-md-4">

                <label for="example-select" class="form-label">Fecha Emisión</label>
                <input class="form-control form-control-sm" type="date">

            </div>

            <div class="col-md-4">

                <label for="example-select" class="form-label">Establecimiento</label>
                <input class="form-control form-control-sm" type="text">

            </div>

            <div class="col-md-4">

                <label for="example-select" class="form-label">Punto Emisión</label>
                <input class="form-control form-control-sm" type="text">

            </div>






        </div>

    </div>



    <div class="col-md-6">

        <div class="row">


            <div class="col-md-12">

                <label style="font-weight: bolder; font-size: large;">Cliente</label>
                <hr>

            </div>



            <div class="col-md-6">

                <label for="example-select" class="form-label">Ruc/Cedula</label>
                <input class="form-control form-control-sm" type="text">

            </div>

            <div class="col-md-6">

                <label for="example-select" class="form-label">Razón Social</label>
                <input class="form-control form-control-sm" type="text">

            </div>

            <div class="col-md-4 mt-1">

                <label for="example-select" class="form-label">Telefono</label>
                <input class="form-control form-control-sm" type="text">

            </div>

            <div class="col-md-4 mt-1">

                <label for="example-select" class="form-label">Correo</label>
                <input class="form-control form-control-sm" type="text">

            </div>

            <div class="col-md-4 mt-1">

                <label for="example-select" class="form-label">Dirección</label>
                <textarea class="form-control form-control-sm" rows="2"></textarea>

            </div>



        </div>

    </div>





</div>

<hr>

<div class="row">

    <div class="col-md-4">

        <label for="example-select" class="form-label">Productos/Servicio</label>
        <input class="form-control form-control-sm " type="text">
    </div>

    <div class="col-md-1">

        <label for="example-select" class="form-label">Cantidad</label>
        <input class="form-control form-control-sm " type="text">
    </div>

    <div class="col-md-1">

        <label for="example-select" class="form-label">Precio</label>
        <input class="form-control form-control-sm " type="text">

    </div>

    <div class="col-md-2 botonAgregar " style="margin-top: 1.8rem; ">

        <button style="height: 2.2rem;" class="btn btn-primary">

            <i class="fas fa-plus"></i>
            Agregar


        </button>
    </div>

    <!-- <div class="col-md-1 d-flex flex-column align-items-center justify-content-center" style="margin-top: 2.2%;">



          <i data-toggle="tooltip" data-placement="bottom" title="Agregar" class="fas fa-plus-circle" style="font-size: 34px; cursor: pointer;"></i>


       
      </div> -->
</div>


<div class="w-100 table-responsive">


    <table class="table mt-4 ">
        <thead>
            <tr style="text-align: center; ">
                <th scope="col">#</th>
                <th scope="col">Codigo</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Iva</th>
                <th scope="col">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            <tr style="text-align: center;">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            <tr style="text-align: center;">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            <tr style="text-align: center;">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>

            <tr style="text-align: center;">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>
    </table>

</div>

<hr>


<div class="row">

    <div class="col-md-8">


        <div class="row">


            <div class="col-md-12 mt-2 totalLabel">

                <label style="font-weight: bolder; font-size: large;">Forma Pago</label>
                <hr>

            </div>



        </div>



    </div>

    <div class="col-md-4 mb-3">


        <div class="row">


            <div class="col-md-12 mt-2 totalLabel" style="text-align: center;">

                <label style="font-weight: bolder; font-size: large;">Total</label>
                <hr>

            </div>



        </div>







        <div class="row">



            <div class="col-md-6 mt-2 total" style="text-align: end;">


                <label style="font-size: 1.0rem;font-weight:bolder">IVA(12%)</label>




            </div>

            <div class="col-md-6 mt-2 total" style="text-align: end;">


    
                <input type="text" class="form-control form-control-sm col-sm-5 col-md-12">
 
 
 
 
             </div>








        </div>

        <div class="row">



            <div class="col-md-6 mt-2 total" style="text-align: end;">


                <label style="font-size: 1.0rem;font-weight:bolder">IVA(12%)</label>




            </div>

            <div class="col-md-6 mt-2 total" style="text-align: end;">


    
                <input type="text" class="form-control form-control-sm col-sm-5 col-md-12">
 
 
 
 
             </div>



        </div>

        
        <div class="row">



            <div class="col-md-6 mt-2 total" style="text-align: end;">


                <label style="font-size: 1.0rem;font-weight:bolder">IVA(12%)</label>




            </div>

            <div class="col-md-6 mt-2 total" style="text-align: end;">


    
                <input type="text" class="form-control form-control-sm col-sm-5 col-md-12">
 
 
 
 
             </div>



        </div>

        
        <div class="row">



            <div class="col-md-6 mt-2 total" style="text-align: end;">


                <label style="font-size: 1.0rem;font-weight:bolder">IVA(12%)</label>




            </div>

            <div class="col-md-6 mt-2 total" style="text-align: end;">


    
                <input type="text" class="form-control form-control-sm col-sm-5 col-md-12">
 
 
 
 
             </div>



        </div>

        
        <div class="row">



            <div class="col-md-6 mt-2 total" style="text-align: end;">


                <label style="font-size: 1.0rem;font-weight:bolder">IVA(12%)</label>




            </div>

            <div class="col-md-6 mt-2 total" style="text-align: end;">


    
                <input type="text" class="form-control form-control-sm col-sm-5 col-md-12">
 
 
 
 
             </div>



        </div>


 



    </div>

    


</div>