<div (keyup.enter)="registrar.click()" (keydown.esc)="cancelar.click()" class="modal fade" id="ModalNuevoCliente"
    data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body">


                <div class="text-center">
                    <i style="font-size: 39px;" class="fas fa-exclamation-triangle text-warning"></i>
                    <h4 style="font-weight: bolder;font-size:20px" class="mt-2">¡Advertencia!</h4>
                    <p style="font-size: 18px;" class="mt-3"> No Registrado ¿Desea Registrar un nuevo Cliente?</p>
                    <button #cancelar (click)="cerrarModalWarning()" type="button" class="btn btn-secondary my-2 mr-2"
                        data-bs-dismiss="modal">Cancelar</button>
                    <button #registrar (click)="abrirModalCliente()" type="button" class="btn btn-primary my-2"
                        data-bs-dismiss="modal">Registrar</button>

                </div>



            </div>


        </div>
    </div>
</div>

<app-modal-clientes #modalContainer id="modalContainer"></app-modal-clientes>

<div class="row ">

    <div class="col-sm-12  secuencial" style="text-align: end;">

        <strong
            style="font-size: 1.5rem ;font-weight: bolder;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            Factura: </strong><label
            style="color: red;font-weight:bolder;font-size: 1.4rem">{{establecimiento}}-{{puntoEmision}}-{{secuencial}}</label>
    </div>

</div>






<form [formGroup]="facturaForm" (keydown)="eventPredefault($event)">

    <div class="row">





        <div class="col-md-6">

            <div class="row">


                <div class="col-md-12 ">



                    <label style="font-weight: bolder; font-size: large;">Cliente</label>

                    <!-- <i data-toggle="tooltip" data-placement="bottom" title="Registrar Cliente" style="color: #2E59D9;padding-bottom: 10px;font-size: 1.1rem; cursor: pointer;" class="fas fa-user-plus ml-1"></i> -->


                    <hr>

                </div>



                <!-- <div class="col-md-6 is-loading">

                <label for="example-select" class="form-label">Ruc/Cedula</label>
                <input (keyup.enter)="cargarContribuyente($event.target)" class="form-control form-control-sm" type="text">

            </div> -->


                <div class="col-md-6">
                    <label for="example-select" class="form-label">Ruc/Cedula</label>
                    <div class="input-group">
                        <input
                            [class.is-invalid]="facturaForm.get('identificacion')!.touched && facturaForm.get('identificacion')?.invalid"
                            formControlName="identificacion" (keyup.enter)="cargarContribuyente($event.target)"
                            class="form-control form-control-sm" (keyup)="limpiarDatosContribuyentes($event.target)"
                            type="text">




                        <div class="input-group-append" *ngIf="spinnerIdentificacion">
                            <span class="input-group-text">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            </span>
                        </div>
                    </div>
                </div>





                <div class="col-md-6">

                    <label for="example-select" class="form-label">Razón Social</label>
                    <input
                        [class.is-invalid]="facturaForm.get('razonSocial')!.touched && facturaForm.get('razonSocial')?.invalid"
                        formControlName="razonSocial" class="form-control form-control-sm" type="text">

                </div>

                <div class="col-md-4 mt-1">

                    <label for="example-select" class="form-label">Telefono</label>
                    <input
                        [class.is-invalid]="facturaForm.get('telefono')!.touched && facturaForm.get('telefono')?.invalid"
                        formControlName="telefono" class="form-control form-control-sm" type="text">

                </div>

                <div class="col-md-4 mt-1">

                    <label for="example-select" class="form-label">Correo</label>
                    <input [class.is-invalid]="facturaForm.get('email')!.touched && facturaForm.get('email')?.invalid"
                        formControlName="email" class="form-control form-control-sm" type="text">

                </div>

                <div class="col-md-4 mt-1">

                    <label for="example-select" class="form-label">Dirección</label>
                    <textarea
                        [class.is-invalid]="facturaForm.get('direccion')!.touched && facturaForm.get('direccion')?.invalid"
                        formControlName="direccion" class="form-control form-control-sm" rows="2"></textarea>

                </div>



            </div>

        </div>



        <div class="col-md-6">

            <div class="row">


                <div class="col-md-12">

                    <label style="font-weight: bolder; font-size: large;">Emisor</label>
                    <hr>

                </div>



                <div class="col-md-4">

                    <label for="example-select" class="form-label">Fecha Emisión</label>
                    <input value="{{fechaFormateada}}" class="form-control form-control-sm" type="date">

                </div>

                <div class="col-md-4">

                    <label for="example-select" class="form-label">Establecimiento</label>
                    <select (change)="cambiarEstablecimiento($event.target)" formControlName="idEstablecimiento"
                        class="form-control form-control-sm " id="exampleFormControlSelect1">
                        <option *ngFor="let item of EstablecimientosList" value={{item.idEstablecimiento}}>
                            {{padLeft.convert(item.nombre,3)}}</option>


                    </select>

                </div>

                <div class="col-md-4">

                    <label for="example-select" class="form-label">Punto Emisión</label>
                    <select (change)="cambiarPuntoEmision($event.target)" formControlName="idPuntoEmision"
                        class="form-control form-control-sm " id="exampleFormControlSelect1">
                        <option *ngFor="let item of PuntoEmisionList" value={{item.idPuntoEmision}}>
                            {{padLeft.convert(item.nombre,3)}}</option>

                    </select>

                </div>





            </div>

            <div class="row mt-1">

                <div class="col-md-4">

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Documento a Emitir</label>
                        <select formControlName="idDocumentoEmitir" class="form-control form-control-sm "
                            id="exampleFormControlSelect1">
                            <option *ngFor="let item of DocumentosEmitirList" value={{item.idDocumentoEmitir}}>
                                {{item.nombre}}</option>

                        </select>
                    </div>
                </div>

            </div>

        </div>





    </div>


    <div class="row">

        <div class="col-md-12">
            <hr>
            <label style="font-weight: bolder; font-size: large;">Venta</label>

        </div>



    </div>


    <div class="row">
        <div class="col-md-2">
            <label for="example-select" class="form-label">Precios</label>


            <div>

                <select [class.is-invalid]="facturaForm.get('precios')!.touched && facturaForm.get('precios')?.invalid"
                    (change)="asignarValor($event.target)" formControlName="precios"
                    class="form-control form-control-sm col-md-8 col-12" id="exampleFormControlSelect1">
                    <option *ngFor="let item of PreciosList" [value]="item.totalIva">{{item.totalIva | number: '1.2-2'
                        }}</option>

                </select>

            </div>





        </div>
    </div>

    <div class="row mt-2">




        <div class="col-md-6">

            <label for="example-select" class="form-label">Productos/Servicio</label>
            <ng-select (change)="cargarProducto($event)" formControlName="idProducto" [multiple]="false"
                [selectableGroup]="true" [closeOnSelect]="true">
                <ng-option value="">--Seleccione un Producto--</ng-option>
                <ng-option *ngFor="let item of ProductosList" value={{item.idProducto}}>{{item.nombre}}
                    ({{item.cantidad}}) - ${{item.totalIva}} </ng-option>
            </ng-select>
        </div>





        <div style="width: 100%;" class="col-md-botones-venta">
            <label for="example-select" class="form-label">Valor</label>
            <input (keyup)="calcularTotalVenta()"
                [class.is-invalid]="facturaForm.get('valor')!.touched && facturaForm.get('valor')?.invalid"
                formControlName="valor" class="form-control form-control-sm" type="number">
        </div>




        <div style="width: 100%;" class="col-md-botones-venta">

            <label for="example-select" class="form-label">Cantidad</label>
            <input [class.is-invalid]="facturaForm.get('cantidad')!.touched && facturaForm.get('cantidad')?.invalid"
                (keyup)="calcularTotalVenta()" formControlName="cantidad" class="form-control form-control-sm "
                type="number">
        </div>

        <div style="width: 100%;" class="col-md-botones-venta">

            <label for="example-select" class="form-label">Total</label>
            <input readonly formControlName="total" class="form-control form-control-sm " type="text">

        </div>



        <div class="col-md-2 botonAgregar " style="margin-top: 1.8rem; ">

            <button (click)="agregarProducto()" style="height: 2.2rem;" class="btn btn-primary">

                <i class="fas fa-plus"></i>
                Agregar


            </button>
        </div>

        <!-- <div class="col-md-1 d-flex flex-column align-items-center justify-content-center" style="margin-top: 2.2%;">



          <i data-toggle="tooltip" data-placement="bottom" title="Agregar" class="fas fa-plus-circle" style="font-size: 34px; cursor: pointer;"></i>


       
      </div> -->
    </div>




    <div class="w-100 table-responsive">


        <table class="table mt-4 ">
            <thead>
                <tr style="text-align: center; ">
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Iva</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody >
         
                <tr *ngFor="let item of DetalleProductosList; let i = index"  style="text-align: center;">
                    <th scope="row">{{i+1}}</th>
                    <td  class="text-center">{{item.codigo}}</td>
                    <td  class="text-center">{{item.nombre}}</td>
                    <td  class="text-center">{{item.cantidad}}</td>
                    <td  class="text-center">{{item.valor - item.porcentaje | number:'1.2-2'}}</td>
                    <td  class="text-center">{{item.nombrePorcentaje}}</td>
                    <td  class="text-center">{{item.total}}</td>
                    <td style="cursor: pointer;">
                        <i id="edit-icon" data-toggle="tooltip" data-placement="bottom" title="Editar"  class="fas fa-edit mr-2"></i>
                        <i (click)="eliminarProducto(item.idProducto)" data-toggle="tooltip" data-placement="bottom" title="Eliminar"  class="fas fa-trash-alt"></i>
                    </td>
                </tr>

                <tr >
                  
                    <td *ngIf="DetalleProductosList.length==0" colspan="8" style="font-weight: bolder;cursor:pointer" class="text-center">Sin Productos</td>
               
                </tr>

             

            </tbody>
    
        </table>

    </div>

    <hr>


    <div class="row">

        <div class="col-md-8">


            <div class="row">


                <div class="col-md-12 mt-2 totalLabel">
                    <!-- 
                <label style="font-weight: bolder; font-size: large;">Adicionales</label>
                <hr> -->



                    <ul class="nav nav-tabs col-md-8" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link formaPago " data-toggle="tab" href="#formaPago" role="tab">FORMA PAGO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#adicional" role="tab">INFORMACIÓN ADICIONAL</a>
                        </li>
                    </ul>

                    <div class="tab-content col-md-8">
                        <div class="tab-pane" id="formaPago" role="tabpanel">



                            <div class="col-md-12 mt-2">

                                <!-- <label for="example-select" class="form-label">Tipo Pago</label> -->
                                <select class="form-control form-control-sm " id="exampleFormControlSelect1">
                                    <option style="  text-align: center;" selected>SIN UTILIZACIÓN DEL SISTEMA
                                        FINANCIERO
                                    </option>
                                    <option style="  text-align: center;">TARJETA DE CREDITO</option>
                                    <option style="  text-align: center;">TARJETA DE DEBITO</option>
                                </select>
                            </div>



                            <div class="col-md-12 mt-2">



                                <div class="row">

                                    <div class="col-md-3">

                                        <label for="example-select" class="form-label">Tiempo</label>
                                        <input class="form-control form-control-sm " type="text">
                                    </div>

                                    <div class="col-md-3">

                                        <label for="example-select" class="form-label">Plazo</label>
                                        <input class="form-control form-control-sm " type="text">
                                    </div>


                                    <div class="col-md-3">

                                        <label for="example-select" class="form-label">Valor</label>
                                        <input class="form-control form-control-sm " type="text">
                                    </div>

                                    <div class="col-md-3">

                                        <!-- <label style="visibility: hidden;" for="example-select" class="form-label">Tipo
                                        Pago</label> -->
                                        <button style="height: 2.2rem; margin-top: 1.7rem;" class="btn btn-primary">

                                            <i class="fas fa-plus mt-1"></i>
                                            Agregar


                                        </button>
                                    </div>


                                </div>

                                <div class="row">


                                    <table class="table mt-4 col-md-12">
                                        <thead>
                                            <tr style="text-align: center; ">
                                                <th scope="col">#</th>
                                                <th scope="col">Forma Pago</th>
                                                <th scope="col">Plazo</th>
                                                <th scope="col">Valor</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="text-align: center;">
                                                <th scope="row">1</th>
                                                <td>Tarjeta Credito </td>
                                                <td>2 Años</td>
                                                <td>$1350</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>


                            </div>



                        </div>
                        <div class="tab-pane" id="adicional" role="tabpanel">


                            <div class="col-md-12 mt-2">



                                <div class="row">

                                    <div class="col-md-6">

                                        <label for="example-select" class="form-label">Nombre</label>
                                        <input class="form-control form-control-sm " type="text">
                                    </div>

                                    <div class="col-md-3">

                                        <label for="example-select" class="form-label">Valor</label>
                                        <input class="form-control form-control-sm " type="text">
                                    </div>




                                    <div class="col-md-3">


                                        <button style="height: 2.2rem; margin-top: 1.7rem;" class="btn btn-primary">

                                            <i class="fas fa-plus"></i>
                                            Agregar


                                        </button>
                                    </div>


                                </div>

                                <div class="row">


                                    <table class="table mt-4 col-md-12">
                                        <thead>
                                            <tr style="text-align: center; ">
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Valor</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="text-align: center;">
                                                <th scope="row">1</th>
                                                <td>Tarjeta Credito </td>
                                                <td>$1350</td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>


                            </div>



                        </div>
                    </div>

                </div>








            </div>



        </div>

        <div class="col-md-4 mb-3">









            <div class="row">



                <div class="col-md-6 mt-2 total" style="text-align: end;">


                    <label style="font-size: 1.0rem;font-weight:bolder">Subtotal</label>




                </div>

                <div class="col-md-6 mt-2 total" style="text-align: end;">



                    <input formControlName="subtotal" type="text"
                        class="form-control form-control-sm col-sm-3 col-md-12">




                </div>








            </div>


            <div class="row">



                <div class="col-md-6 mt-2 total" style="text-align: end;">


                    <label style="font-size: 1.0rem;font-weight:bolder">Subtotal 12%</label>




                </div>

                <div class="col-md-6 mt-2 total" style="text-align: end;">



                    <input formControlName="subtotal12" type="text"
                        class="form-control form-control-sm col-sm-3 col-md-12">




                </div>



            </div>


            <div class="row">



                <div class="col-md-6 mt-2 total" style="text-align: end;">


                    <label style="font-size: 1.0rem;font-weight:bolder">Subtotal 0%</label>




                </div>

                <div class="col-md-6 mt-2 total" style="text-align: end;">



                    <input formControlName="subtotal0" type="text"
                        class="form-control form-control-sm col-sm-3 col-md-12">




                </div>



            </div>


            <div class="row">



                <div class="col-md-6 mt-2 total" style="text-align: end;">


                    <label style="font-size: 1.0rem;font-weight:bolder">IVA 12%</label>




                </div>

                <div class="col-md-6 mt-2 total" style="text-align: end;">



                    <input formControlName="iva12" type="text" class="form-control form-control-sm col-sm-3 col-md-12">




                </div>



            </div>




            <div class="row">



                <div class="col-md-6 mt-2 total" style="text-align: end;">


                    <label style="font-size: 1.0rem;font-weight:bolder">Descuento</label>




                </div>

                <div class="col-md-6 mt-2 total" style="text-align: end;">



                    <input formControlName="descuento" type="text" class="form-control form-control-sm col-sm-3 col-md-12">




                </div>



            </div>


            <div class="row">



                <div class="col-md-6 mt-2 total" style="text-align: end;">


                    <label style="font-size: 1.0rem;font-weight:bolder">Tot. Descuento</label>




                </div>

                <div class="col-md-6 mt-2 total" style="text-align: end;">



                    <input formControlName="totDescuento" type="text" class="form-control form-control-sm col-sm-3 col-md-12">




                </div>



            </div>





       
            <div class="row">



                <div class="col-md-6 mt-2 total" style="text-align: end;">


                    <label style="font-size: 1.0rem;font-weight:bolder">Total</label>




                </div>

                <div class="col-md-6 mt-2 total" style="text-align: end;">



                    <input formControlName="totalFactura" type="text" class="form-control form-control-sm col-sm-3 col-md-12">




                </div>



            </div>






        </div>




    </div>

</form>