<div class="row page-title"><i class='bi-receipt-cutoff'></i>Facturación</div>
<div class="component-content">
    <div class=" my-2">
        <button (click)="modal.show();nuevo()" type="button" class="btn btn-primary">
            Nueva Factura <i class="bi-plus"></i>
        </button>
    </div>
    <div class="table-responsive p-1">
        <table #tabla datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-custom">
            <thead>
                <tr>
                    <th class="text-center w-gear"><i class="bi-files"></i></th>
                    <th class="text-center">FECHA EMISIÓN</th>
                    <th>DOCUMENTO</th>
                    <th>CLIENTE</th>
                    <th>CLAVE ACCESO</th>
                    <th class="text-center">ESTADO</th>
                    <th class="text-center">FECHA AUTORIZACIÓN</th>
                    <th class="text-end">TELÉFONO</th>
                    <th>EMAIL</th>

                </tr>
            </thead>
            <tbody *ngIf="lista?.length>0" class="">
                <tr *ngFor="let item of lista">
                    <td class="text-center">
                        <button (click)="xml(item.claveAcceso)" title="Descargar XML" type="button" class="btn text-primary btn-sm btn-file-td"
                            style="padding:2px 0 2px 6px"><i class="bi-filetype-xml"
                                style="font-size:12px"></i></button>
                        <button (click)="pdf(item.claveAcceso)" title="Descargar PDF"  type="button"
                            class="btn text-danger btn-sm btn-file-td" style="padding:2px 0 2px 6px"><i class="bi-filetype-pdf"
                                style="font-size:12px"></i></button>
                    </td>
                    <td width="5%" class="text-center">{{getDate(item.fechaEmision)}}</td>
                    <td>{{item.establecimiento.toString().padStart(3,'0')}}-{{item.puntoEmision.toString().padStart(3,'0')}}-{{item.secuencial.toString().padStart(9,'0')}}
                    </td>
                    <td width="25%">{{item.cliente}}</td>
                    <td width="30%">{{item.claveAcceso}}</td>
                    <td width="5%" class="text-center"><span class="badge fw-500" [style]="getColor(item.idTipoEstadoSri)">{{item.estadoSri}}</span></td>
                    <td width="10%" class="text-center">{{getDate(item.fechaAutorizacion)}}
                        <b>{{getHour(item.fechaAutorizacion)}}</b></td>
                    <td class="text-end">{{item.telefonoCliente}}</td>
                    <td width="10%" class="text-email">{{item.emailCliente}}</td>
                </tr>
            </tbody>
            <tbody *ngIf="lista?.length==0">
                <tr>
                    <td colspan="10" class="no-data-available text-center" [innerHTML]="mensajeDataTable"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<div class="modal fade glass" #modalDatos tabindex="-1" role="dialog" aria-labelledby="modalDatosLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content bg-primary">
            <div class="modal-header py-2">
                <label class="modal-title text-white" id="modalDatosLabel">{{tituloModal}}</label>
                <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close"
                    (click)="modal.hide()">
                </button>
            </div>
            <div class="modal-body bg-white">
                <form #frmDatos class="row p-1">
                  <div class="col-sm-12">

                  </div>
                  <div class="card col-sm-6 card-custom">
                    <h5 class="card-title">Cliente</h5>
                      <div class="card-body">

                      </div>
                  </div>
                  <div class="card col-sm-6 card-custom">
                    <h5 class="card-title">Emisor</h5>
                      <div class="card-body">

                      </div>
                  </div>
                </form>
            </div>
            <div class="modal-footer bg-light py-2">
                <button type="button" class="btn btn-primary btn-sm" (click)="guardar()">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" (click)="modal.hide()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
