<label class="page-title mt-2" style="font-size: 1.3rem;font-weight: bolder;"> Clientes </label>

<div class="text-end">

    <a style="margin-top:1.2rem; margin-bottom: 1rem;" class="btn btn-primary " (click)="abrirModal()">Nuevo Registro

        <i class="uil uil-plus"></i>

    </a>

</div>




<div class="mt-2" style="max-height: 550px; overflow: auto;">
    <table id="tabla" class="table dt-responsive w-100">
        <thead style=" 
        background: white;
        position: sticky;
        top: 0; 
        ">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
        </tbody>
    </table>

</div>




<div id="standard-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Nuevo Cliente</h4>
                <button (click)="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-hidden="true"></button>
            </div>

            <form [formGroup]="clienteForm" (ngSubmit)="guardar(clienteForm.value)">
                <div class="modal-body">


                         
                   
                    <div class="row">
                      
                        
                        <div class="col-sm-4 mt-1 mb-3">
                            <label for="example-select" class="form-label">Tipo Identificación</label>
                            <ng-select   
                            formControlName="idTipoidentificacion"
                            [multiple]="false"
                            [selectableGroup]="true"
                            [closeOnSelect]="true"
                            [clearable]="false"
                            [class.hola]="clienteForm.get('idTipoidentificacion')!.touched && clienteForm
                            .get('idTipoidentificacion')?.invalid" [class.border-primary]="clienteForm
                            .get('idTipoidentificacion')!.touched && clienteForm
                            .get('idTipoidentificacion')?.valid" 
                            >
                                <ng-option  *ngFor="let item of tipoIdentificacionesList" [value]="item.codigo">{{item.nombre}}</ng-option>
                             </ng-select>
                             <div class="invalid-feedback">
                                *Requerido
                            </div>

                        </div>

                             <div class="col-sm-4 mt-1">



                            <label for="example-select" class="form-label">Tipo Identificación</label>
                            <select formControlName="idTipoidentificacion" (change)="cambiarValidacion($event.target)"
                                [class.is-invalid]="clienteForm.get('idTipoidentificacion')!.touched && clienteForm.get('idTipoidentificacion')?.invalid"
                                
                                class="form-select form-select-sm" id="example-select">


                                <option *ngFor="let item of tipoIdentificacionesList"
                                    value="{{item.idTipoIdentificacion}}" [selected]="item.codigo === 1">

                                    {{item.nombre}}

                                </option>


                            </select>


                        </div>

                    </div>             


                    <div class="row mt-2">


                          

                       
                       
 


                        <div class="col-sm-4 mt-1">



                            <label for="example-select" class="form-label">Tipo Identificación</label>
                            <select formControlName="idTipoidentificacion" (change)="cambiarValidacion($event.target)"
                                [class.is-invalid]="clienteForm.get('idTipoidentificacion')!.touched && clienteForm.get('idTipoidentificacion')?.invalid"
                                
                                class="form-select form-select-sm" id="example-select">


                                <option *ngFor="let item of tipoIdentificacionesList"
                                    value="{{item.idTipoIdentificacion}}" [selected]="item.codigo === 1">

                                    {{item.nombre}}

                                </option>


                            </select>


                        </div>



                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Identificacion</label>
                            <input
                                [class.is-invalid]="clienteForm.get('identificacion')!.touched && clienteForm.get('identificacion')?.invalid"
                              
                                formControlName="identificacion" type="text" class="form-control form-control-sm">


                            <div
                                *ngIf="clienteForm.get('identificacion')!.invalid && clienteForm.get('identificacion')!.touched">

                                <div class="error" *ngIf="clienteForm.get('identificacion')!.hasError('required')">
                                    *Requerido
                                </div>
                                <div class="error"
                                    *ngIf="!clienteForm.get('identificacion')!.hasError('cedulaRuc') && !clienteForm.get('identificacion')!.hasError('required')">
                                    *Identificación Invalida
                                </div>



                            </div>





                            <div
                                *ngIf="clienteForm.get('identificacion')!.invalid && clienteForm.get('identificacion')!.touched">
                                <div class="error"
                                    *ngIf="clienteForm.get('identificacion')!.hasError('identificacion')">
                                    *Requerido
                                </div>
                                <div class="error" *ngIf="clienteForm.get('identificacion')!.hasError('cedulaRuc')">
                                    *Formato Inválido
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Razón Social</label>
                            <textarea (keyup)="setearValorRepresentante($event.target)" formControlName="razonSocial"
                                [class.is-invalid]="clienteForm.get('razonSocial')!.touched && clienteForm.get('razonSocial')?.invalid"
                               
                                class="form-control" id="example-textarea"></textarea>
                            <div class="invalid-feedback">*Requerido</div>


                        </div>



                    </div>



                    <div class="row mt-2 ">


                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Representante</label>
                            <input formControlName="representante"
                                [class.is-invalid]="clienteForm.get('representante')!.touched && clienteForm.get('representante')?.invalid"
                               
                                type="text" class="form-control form-control-sm">
                            <div class="invalid-feedback">*Requerido</div>

                        </div>




                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">dirección</label>
                            <textarea formControlName="direccion"
                                [class.is-invalid]="clienteForm.get('direccion')!.touched && clienteForm.get('direccion')?.invalid"
                                
                                class="form-control" id="example-textarea"></textarea>
                            <div class="invalid-feedback">*Requerido</div>

                        </div>

                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Email</label>
                            <input formControlName="email"
                                [class.is-invalid]="clienteForm.get('email')!.touched && clienteForm.get('email')?.invalid"
                                
                                type="text" class="form-control form-control-sm">

                            <div *ngIf="clienteForm.get('email')!.invalid && clienteForm.get('email')!.touched">
                                <div class="error" *ngIf="clienteForm.get('email')!.hasError('required')">
                                    *Requerido
                                </div>
                                <div class="error" *ngIf="clienteForm.get('email')!.hasError('email') ">
                                    *Formato Inválido
                                </div>
                            </div>







                        </div>









                    </div>


                    <div class="row mt-2 ">


                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Telefono</label>
                            <input formControlName="telefono"
                                [class.is-invalid]="clienteForm.get('telefono')!.touched && clienteForm.get('telefono')?.invalid"
                             
                                type="number" class="form-control form-control-sm">
                            <div class="invalid-feedback">*Requerido</div>

                        </div>




                        <div class="col-sm-5 mt-1">

                            <label for="simpleinput" class="form-label">Observación</label>
                            <textarea formControlName="observacion" class="form-control"
                                [class.is-invalid]="clienteForm.get('observacion')!.touched && clienteForm.get('observacion')?.invalid"
                               
                                id="example-textarea"></textarea>
                            <div class="invalid-feedback">*Requerido</div>

                        </div>


                    </div>


                </div>
                <div class="modal-footer">
                    <button (click)="limpiar()" type="button" class="btn btn-light"
                        data-bs-dismiss="modal">Salir</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>