<label class="page-title mt-2" style="font-size: 1.3rem;font-weight: bolder;"> Clientes </label>

<div class="text-end">

    <a style="margin-top:1.2rem; margin-bottom: 1rem;" class="btn btn-primary " data-bs-toggle="modal"
        data-bs-target="#standard-modal">Nuevo Registro

        <i class="uil uil-plus"></i>

    </a>

</div>




<div class="mt-2" style="max-height: 550px; overflow: auto;">
    <table id="tabla" class="table dt-responsive w-100">
        <thead style=" 
        background: white;
        position: sticky;
        top: 0; 
        ">
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>


        <tbody>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
                <td>$170,750</td>
            </tr>
        </tbody>
    </table>

</div>




<div id="standard-modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Nuevo Cliente</h4>
                <button (click)="limpiar()" type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>

            <form [formGroup]="clienteForm" (ngSubmit)="guardar(clienteForm.value)">
                <div class="modal-body">






                    <div class="row">




                        <div class="col-sm-4 mt-1">



                            <label for="example-select" class="form-label">Tipo Identificación</label>
                            <select
                                (change)="cambiarValidacion($event.target)"
                                [class.is-invalid]="clienteForm.get('IdTipoIdentificacion')!.touched && clienteForm.get('IdTipoIdentificacion')?.invalid"
                                [class.border-primary]="clienteForm.get('IdTipoIdentificacion')!.touched && clienteForm.get('IdTipoIdentificacion')?.valid"
                                class="form-select form-select-sm" id="example-select">
                                <option value=1 selected>Ruc/Cedula</option>
                                <option value=2 >Pasaporte</option>
                            </select>


                        </div>



                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Identificacion</label>
                            <input [class.is-invalid]="clienteForm.get('Identificacion')!.touched && clienteForm.get('Identificacion')?.invalid"
                                [class.border-primary]="clienteForm.get('Identificacion')!.touched && clienteForm.get('Identificacion')?.valid"
                                formControlName="Identificacion" type="text" class="form-control form-control-sm">


                                <div *ngIf="clienteForm.get('Identificacion')!.invalid && clienteForm.get('Identificacion')!.touched">

                                    <div class="error" *ngIf="clienteForm.get('Identificacion')!.hasError('required')">
                                        *Requerido
                                    </div>
                                    <div class="error" *ngIf="!clienteForm.get('Identificacion')!.hasError('cedulaRuc') && !clienteForm.get('Identificacion')!.hasError('required')">
                                        *Identificación Invalida
                                    </div>

                                 

                                  </div>
                   

                            


                            <div *ngIf="clienteForm.get('Identificacion')!.invalid && clienteForm.get('Identificacion')!.touched">
                                <div class="error" *ngIf="clienteForm.get('Identificacion')!.hasError('Identificacion')">
                                    *Requerido
                                </div>
                                <div class="error" *ngIf="clienteForm.get('Identificacion')!.hasError('cedulaRuc')">
                                  *Formato Inválido
                                </div>
                              </div>
                        </div>

                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Razón Social</label>
                            <textarea (keyup)="setearValorRepresentante($event.target)" formControlName="RazonSocial"
                                [class.is-invalid]="clienteForm.get('RazonSocial')!.touched && clienteForm.get('RazonSocial')?.invalid"
                                [class.border-primary]="clienteForm.get('RazonSocial')!.touched && clienteForm.get('RazonSocial')?.valid"
                                class="form-control" id="example-textarea"></textarea>
                            <div class="invalid-feedback">*Requerido</div>


                        </div>



                    </div>



                    <div class="row mt-2 ">


                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Representante</label>
                            <input formControlName="Representante"
                                [class.is-invalid]="clienteForm.get('Representante')!.touched && clienteForm.get('Representante')?.invalid"
                                [class.border-primary]="clienteForm.get('Representante')!.touched && clienteForm.get('Representante')?.valid"
                                type="text" class="form-control form-control-sm">
                            <div class="invalid-feedback">*Requerido</div>

                        </div>




                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Dirección</label>
                            <textarea formControlName="Direccion"
                                [class.is-invalid]="clienteForm.get('Direccion')!.touched && clienteForm.get('Direccion')?.invalid"
                                [class.border-primary]="clienteForm.get('Direccion')!.touched && clienteForm.get('Direccion')?.valid"
                                class="form-control" id="example-textarea"></textarea>
                            <div class="invalid-feedback">*Requerido</div>

                        </div>

                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Email</label>
                            <input formControlName="Email"
                                [class.is-invalid]="clienteForm.get('Email')!.touched && clienteForm.get('Email')?.invalid"
                                [class.border-primary]="clienteForm.get('Email')!.touched && clienteForm.get('Email')?.valid"
                                type="text" class="form-control form-control-sm">

                                <div *ngIf="clienteForm.get('Email')!.invalid && clienteForm.get('Email')!.touched">
                                    <div class="error" *ngIf="clienteForm.get('Email')!.hasError('required')">
                                        *Requerido
                                    </div>
                                    <div class="error" *ngIf="clienteForm.get('Email')!.hasError('email') ">
                                      *Formato Inválido
                                    </div>
                                  </div>

                                  
                            
                



                        </div>


                    


                        



                    </div>


                    <div class="row mt-2 ">


                        <div class="col-sm-4 mt-1">

                            <label for="simpleinput" class="form-label">Telefono</label>
                            <input formControlName="Telefono"
                                [class.is-invalid]="clienteForm.get('Telefono')!.touched && clienteForm.get('Telefono')?.invalid"
                                [class.border-primary]="clienteForm.get('Telefono')!.touched && clienteForm.get('Telefono')?.valid"
                                type="number" class="form-control form-control-sm">
                            <div class="invalid-feedback">*Requerido</div>

                        </div>




                        <div class="col-sm-5 mt-1">

                            <label for="simpleinput" class="form-label">Observación</label>
                            <textarea formControlName="Observacion" class="form-control"
                                [class.is-invalid]="clienteForm.get('Observacion')!.touched && clienteForm.get('Observacion')?.invalid"
                                [class.border-primary]="clienteForm.get('Observacion')!.touched && clienteForm.get('Observacion')?.valid"
                                id="example-textarea"></textarea>
                            <div class="invalid-feedback">*Requerido</div>

                        </div>


                    </div>


                </div>
                <div class="modal-footer">
                    <button (click)="limpiar()" type="button" class="btn btn-light" data-bs-dismiss="modal">Salir</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>