<div class="row page-title"><i class='bi-calculator'></i>Proformas</div>
<div class="component-content">
  <div class="table-responsive p-1">
    <table #tabla datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-custom">
      <thead>
        <tr>
          <th class="text-center w-gear"><i class="bi-files"></i></th>
          <th class="text-center">FECHA EMISIÓN</th>
          <th>DOCUMENTO</th>
          <th>CLIENTE</th>
          <th>CLAVE ACCESO</th>
          <th>FECHA AUTORIZACIÓN</th>
          <th class="text-end">TELÉFONO</th>
          <th>EMAIL</th>

        </tr>
      </thead>
      @if(lista.length>0){

      <tbody>
        @for(item of lista;track item.claveAcceso){
        <tr>
          <td class="text-center">
            @if(item.codigo==0){
              <button (click)="pdf(item.claveAcceso)" title="Descargar PDF" type="button"
              class="btn text-danger btn-sm btn-file-td" style="padding:2px 0 2px 6px"><i class="bi-filetype-pdf"
                style="font-size:12px"></i></button>
            }

          </td>
          <td width="5%" class="text-center">{{item.fechaEmision.substring(0,10).split('-').reverse().join('-')}}</td>
          <td>
            {{item.establecimiento?.toString().padStart(3,'0')}}-{{item.puntoEmision?.toString().padStart(3,'0')}}-{{item.secuencial?.toString().padStart(9,'0')}}
          </td>
          <td width="25%">{{item.cliente}}</td>
          <td width="30%">{{item.claveAcceso}}</td>
          <td width="10%" class="text-center">
            @if(item.estadoSri=='AUTORIZADO'){
            {{item.fechaAutorizacion.substring(0,10).split('-').reverse().join('-')}}
            <b>{{item.fechaAutorizacion.substring(11,16)}}{{(item.fechaAutorizacion.substring(11,13))>=12?"PM":"AM"}}</b>
            }@else {
            <span class="fs-xs">ESPERANDO AUTORIZACIÓN</span>
            }
          </td>
          <td class="text-end">{{item.telefonoCliente}}</td>
          <td width="10%" class="text-email">{{item.emailCliente}}</td>
        </tr>
        }
      </tbody>
      }@else {
      <tbody>
        <tr>
          <td colspan="10" class="no-data-available text-center" [innerHTML]="mensajeDataTable"></td>
        </tr>
      </tbody>
      }
    </table>
  </div>
</div>